---
import "../styles/global.css";
import { getEntry } from "astro:content";
import Header from "../components/layout/Header.astro";
import Footer from "../components/layout/Footer.astro";

export interface Props {
	title?: string;
	description?: string;
}

const {
	title = "J Land Contracting - Frederick's Devoted Roofing Experts",
	description = "Devoted roofing and construction services in Frederick, MD featuring integrity-driven certification and reliable 50-year warranties.",
} = Astro.props;

// Fetch global layout data (header/footer) from the layout content file
const layoutPage = (await getEntry("pages", "layout"))!;
const {
	header_logo_text,
	header_nav,
	footer_company_name,
	footer_company_description,
	footer_address,
	footer_phone,
	footer_email,
	footer_quick_links_title,
	footer_quick_links,
	footer_services_title,
	footer_services_links,
	footer_newsletter_title,
	footer_newsletter_description,
	footer_newsletter_button,
	footer_copyright,
	footer_link_privacy,
	footer_link_terms,
	footer_social_links,
} = layoutPage.data as any;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap"
			rel="stylesheet"
		/>
		<title>{title}</title>
		<meta name="description" content={description} />
	</head>
	<body class="font-montserrat w-full min-h-screen">
		<Header logo_text={header_logo_text} nav_items={header_nav} />
		<main>
			<slot />
		</main>
		<Footer
			socialLinks={footer_social_links}
			footer_company_name={footer_company_name}
			footer_company_description={footer_company_description}
			footer_address={footer_address}
			footer_phone={footer_phone}
			footer_email={footer_email}
			footer_quick_links_title={footer_quick_links_title}
			footer_quick_links={footer_quick_links}
			footer_services_title={footer_services_title}
			footer_services_links={footer_services_links}
			footer_newsletter_title={footer_newsletter_title}
			footer_newsletter_description={footer_newsletter_description}
			footer_newsletter_button={footer_newsletter_button}
			footer_copyright={footer_copyright}
			footer_link_privacy={footer_link_privacy}
			footer_link_terms={footer_link_terms}
		/>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
